#bingoNumbers{font-size: 1.5rem;}
@media (min-width: 768px) {
  #bingoNumbers {
      font-size: 2.6rem;
      min-height: 66px;
  }
}
/* Style Bingo Card */
#bingo-card{
  border-color: #000;
  border: 10px solid;
}
.bingo-cell {
  transition: background-color 0.3s ease-in-out, text-decoration 0.1s ease-in-out;
}
#bingo-card thead td{
  font-weight: bold;
}
#bingo-card tr td{
  cursor: pointer;
  padding: 1.5rem 0.5rem;
  font-size: 1.5rem;
}